* {
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 3vh);
    grid-template-rows: repeat(16, 3vw);
}

.tile {
    background-color: rgba(255, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-family: "Anonymous Pro";
    text-align: center;
}

body {
    
}
  